################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CapgeminiCard/.vs
/CapgeminiCard/CapgeminiCard.API/obj
/CapgeminiCard/CapgeminiCard.API/bin/Debug/net6.0
/CapgeminiCard/CapgeminiCard.Test/obj/Debug/net6.0
/CapgeminiCard/CapgeminiCard.Test/bin/Debug/net6.0
/CapgeminiCard/CapgeminiCard.Test/obj
